Loops

In [3]:
#Q1
for i in range(1,31):
    print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [4]:
#Q2
num = 2
while num <= 50:
    print(num)
    num += 2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [6]:
#Q3
num = int(input("Enter a number: "))
print(f'the multiplication table of {num} is: ')
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

the multiplication table of 3 is:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [8]:
#q4
num = 1
while num <= 50:
    print(num)
    num += 2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [10]:
#Q5
n = 0  
for i in range(1, 51):
    n += i 

print("The sum of numbers from 1 to 50 is:", n)

The sum of numbers from 1 to 50 is: 1275

In [12]:
#q6
string = "Python"
for char in string:
    print(char)

P
y
t
h
o
n

In [ ]:
#Q7
#factorial of a number using while loop
num = int(input("Enter a number: "))
factorial = 1  
i = 1
while i <= num:
    factorial *= i  
    i += 1

print(f"The factorial of {num} is {factorial}")

The factorial of 4 is 24

In [19]:
#Q8
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#Q9
password = "password123"

while True:
    passw = input("Enter the password: ")

    if passw == password:
        print("Access granted") 
        break
    else:
        print("Access denied try again")

Access denied try again
Access granted

In [27]:
#Q10
for i in range(1, 11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
#Q11
sum_even = 0
sum_odd = 0

for i in range(1, 51):
    if i % 2 == 0:
        sum_even += i  # Add to even sum
    else:
        sum_odd += i   # Add to odd sum

print("Sum of even numbers from 1 to 50:", sum_even)
print("Sum of odd numbers from 1 to 50:", sum_odd)

Sum of even numbers from 1 to 50: 650
Sum of odd numbers from 1 to 50: 625