Using encapsulation a concept of OOP, to create a class named Employee with getter and setter methods for getting the name and setting the salary then defining to show details of employee class

In [39]:
class employee:
    def __init__(self,name , salary):
        self.__name = name
        self.__salary = salary

    
    #getter method for name
    def get_name(self, name):
        self.__name = name



    #setter method for salary
    def set_salary(self, salary=None):
        if salary is not None:
            self.__salary = salary
        else:
            self.__salary = 0
    



    #method to show details
    def show_details(self):
        return f"Name: {self.__name}, Salary: {self.__salary}"

In [40]:
emp1 = employee("Hasrat", 50000)

In [41]:
emp1.show_details()

'Name: Hasrat, Salary: 50000'

In [42]:
emp1.get_name("Ali")
emp1.show_details()

'Name: Ali, Salary: 50000'

In [47]:
emp1.set_salary(100000)

In [48]:
emp1.show_details()

'Name: Ali, Salary: 100000'